@using NETD3202_Lab4_RyanClayson.Models
<!--
  Name: Ryan Clayson
  Date: 11/20/2020
  Purpose: To display Appraisal form for user to fill in.
    -->
@{
    ViewData["Title"] = "Appraise";
 }

<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <title>Appraise Your Textbook!</title>

</head>

<body>

    <h2 style="text-align: center">Student4CheapTexts<img id="img_logo" alt="Logo" src="~/Images/books.jpg" width="100" height="100" /></h2>
    <!--Display Tabs Where user can click to and get redirected.-->
    <ul>
        <li><a class="active" href="~/Home/Index">Home</a></li>
        <li><a href="~/Home/Appraise">Appraise</a></li>
        <li><a href="~/Home/ViewAppraisal">View Appraisals</a></li>
    </ul>

    <div>
        <!--Form Creation.-->
        <form action="~/Home/Appraise" method="POST">

            <label for="title">Textbook Title:</label>
            <input type="text" id="title" name="title" placeholder="Title of Textbook...">
            <br />

            <label for="isbn">Textbook ISBN:</label>
            <input type="text" id="isbn" name="isbn" placeholder="ISBN...">
            <br />

            <label for="version">Textbook Version:</label>
            <input type="text" id="version" name="version" placeholder="Version...">
            <br />

            <label for="price">Original Purchase Price:</label>
            <input type="text" id="price" name="price" placeholder="Price...">
            <br />

            <label for="Condition">Condition:</label>
            <select name="Condition" id="Condition">
                <option value="LikeNew">LikeNew</option>
                <option value="Good">Good</option>
                <option value="Bad">Bad</option>
            </select>

            <input type="submit" value="Appraise">
            <!--End of Form-->
        </form>
    </div>
</body>

</html>