<!--
Name: Ryan Clayson
Date: 11/20/2020
-->
@{
    ViewData["Title"] = "Fail";
}
<!DOCTYPE HTML>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Failure Screen</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>
<body>
    <h2 style="text-align: center">Student4CheapTexts<img id="img_logo" alt="Logo" src="~/Images/books.jpg" width="100" height="100" /></h2>
    <!--Display Tabs Where user can click to and get redirected.-->
    <ul>
        <li><a class="active" href="~/Home/Index">Home</a></li>
        <li><a href="~/Home/Appraise">Appraise</a></li>
        <li><a href="~/Home/ViewAppraisal">View Appraisals</a></li>
    </ul>
    <!--Display Failure Message.-->
    <h3>The Textbook could not be appraised, please verify the data and input information in all fields.</h3>
</body>
</html>