<!--
Name: Ryan Clayson
Date: 11/20/2020
-->
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <title>Appraise Your Textbook!</title>
</head>

<body>
    <h2 style="text-align: center">Student4CheapTexts<img id="img_logo" alt="Logo" src="~/Images/books.jpg" width="100" height="100" /></h2>
    <!--Display Tabs Where user can click to and get redirected.-->
    <ul>
        <li><a class="active" href="~/Home/Index">Home</a></li>
        <li><a href="~/Home/Appraise">Appraise</a></li>
    </ul>
    <!--Index Summary Description.-->
    <h4 style="text-align: center">
        Student4CheapTextbooks is a student group focused on bringing you the cheapest possible price for a textbook. <br />
        Did you know that the average student spends $600 on textbooks per semester. Our focus is to try and bring that down.<br />
        If you have a used textbook to sell, click on the appraise button in the nav bar above and we will get you a price!
    </h4>
</body>
</html>
